{{- include "spicedb.validatePatches" . -}}
{{- $deployment := include "spicedb.deployment.base" . | fromYaml -}}
{{- range .Values.patches.deployment -}}
{{- $deployment = mustMergeOverwrite $deployment . -}}
{{- end -}}
{{- $deployment | toYaml -}}
