{{/*
Main deployment template using strategic merge patches.
Base definition in templates/_helpers.tpl:spicedb.deployment.base
Patches applied from .Values.patches.deployment
*/}}
{{- include "spicedb.validatePatches" . -}}
{{- $deployment := include "spicedb.deployment.base" . | fromYaml -}}
{{- range .Values.patches.deployment -}}
{{- $deployment = mustMergeOverwrite $deployment . -}}
{{- end -}}
{{- $deployment | toYaml -}}
