{{- $effectiveExistingSecret := include "spicedb.existingSecret" . -}}
{{- if and .Values.config.autogenerateSecret $effectiveExistingSecret (ne $effectiveExistingSecret "") -}}
{{- fail "ERROR: config.autogenerateSecret cannot be enabled when config.existingSecret or operatorStyle.secretName is set. These options are mutually exclusive. Either disable autogenerateSecret or remove the existingSecret/operatorStyle.secretName setting." -}}
{{- end -}}
