name: Release Please

on:
  push:
    branches:
      - master

permissions:
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get GitHub App token
        id: get-token
        uses: octo-sts/action@d6c70ad3b9ac85df6da6b9749014d7283987cfec # v1.0.3
        with:
          scope: salekseev/helm-charts
          identity: release-please

      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ steps.get-token.outputs.token }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json
